nav{
    background-color: black;
    padding-bottom: 1%;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
          }

  .boton{
    text-decoration: none;
    color: #222
    border: 1px outset #ccc;
    padding: .1em .5em;
           }  

    .menu{
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;
            }

.menu a{
width: 10%;
list-style: none;
}

.menu li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    text-decoration: none;
          }